/* Reset Css */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }



  body {
    background-color: black;
    ;
    width: 1440px;
    align-items: center;
    width: 1440px;
height: 2491px;
  }

  .banner{
    font-family: Raleway;
    align-items: center;
    width: 1440px;
    height: 605px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0%, rgba(49, 168, 221, 0.00) 100%);
    background-image: url(./assets/images/banner.png);
  }

  .banner-content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 56px 465px 156px 465px;
    
  }

  h1 {
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    
  }

    p {
      width: 510px;
      color: #FFF;
      text-align: center;
      font-family: Raleway;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    button {
      width: 144px 19px;
      padding: 19px 91px;
      justify-content: center;
      align-items: center;
      gap: 31px;
      border: 2px solid #3BA1CD;
      color: #31A8DD;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 3.36px;
      text-transform: uppercase;
      background-color: Transparent;

    }

    #course-content {

      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;
      margin: 118px 324px 0px 324px;
    }

    h2 {
      color: #33A8DB;
      font-family: Raleway;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 6.08px;
      text-transform: uppercase;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;

    }

    p {
      color: #FFF;
      text-align: center;
      font-family: Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    #course-content {
      margin: 118px 324px;
    }
     
    .modules-list {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;

    }
    
    .module {
      width: 535px;
      padding: 16px 127px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 57px;
      border: 1px solid #33A8DB;
      background: #252525;
      color: #FFF;
      font-family: Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

    }

    span {
      color: #33A8DB;
    }

    .transforme {
      width: 300px;
      height: 141px;
      color: #FFF;
      text-shadow: 3px 2px 0px #33A8DB;
      font-family: Raleway;
      font-size: 40px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: lowercase;

    }

    #transform-world {
      height: 300px;
      width: 1440px;
      padding: 80px 0px 0px 150px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      background: url('/assets/images/woman-code.png') lightgray 50% / cover no-repeat;
    }

    .element.style {

    }


    
